@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Tilt Neon";
    box-sizing: border-box;
}

input::-webkit-inner-spin-button{
    appearance: none;
}